extends layout


block content
  .container
    if(typeof(msg)!=undifined&&msg) 
      .alert 
        strong #{msg}
    form#signin_form.form-horizontal(method='post', action='/signin')
      .form-group
        label.col-md-2.control-label(for='username') Username
        .col-md-6
          input.form-control#user-email(type='text', placeholder='Username', name='username')
      .form-group
        label.col-md-2.control-label(for='password') Password
        .col-md-6
          input.form-control#user-password(type='password', name='pass')

      .form-group
        .col-md-offset-2.col-md-3
          .checkbox
             input(type='checkbox') 
             label='Remeber me'
             
                      
      .form-actions
        .col-md-offset-2
          button.btn.btn-primary(type='submit', value='signin') Sign in

