body {
  background-color: #e1e1e1;
  font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti !important;
}
#content{
  padding: 0;
  margin-right: 305 px;

}

.navbar{
  margin-bottom: 0px;
  z-index: 9;
  width: 100%;
  position: relative;
  font-size: 13px;
}
.navbar .container{
  width: 100%;
  min-width: 960px;
  margin: 0px auto;
  max-width: 1400px;
}
.navbar .brand{
  padding: 4px 0px 0px 20px;
  width: 120px;
  padding: 3px 20px;
  height: 28px;
}
.navbar .nav >li >a{
  text-shadow: none;
  color: #cccccc;
  &:hover{
    color: #fff;
  }
}
.navbar .search-query{

}

.panel{
  margin-bottom: 13px;
}

.panel .inner {
  line-height: 2em;
  padding: 10px;
  background-color: white;
  border-radius: 0 0 3px 3px;
}

.panel .inner .form-horizontal